*{
    margin:0;
    padding: 0;
}


.header{
    background-color: rgb(7, 7, 7);
   width: 100%;
   height: 70px;
   border: 1px solid black;
}
.base-price{
    color:grey;
}
.installation{
    font-size: 10px;
    float: left;
    margin-left: 30px;
    opacity: 0.4;
}
.available{
    font-size:10px;
    margin-top: 10px;
    float: left;
    margin-left: 35px;
    color: grey;
}
.equipment{
    font-size:15px;
    margin-top: 10px;
    float: left;
    margin-left: 35px;
    color: grey;
}
.annual-cost{
    border-radius: 5px;
    padding: 12px;
    width: 65%;
    margin-left: 14%;
    margin-top: 80px;
    font-size: 13px;
    border: 1px solid green;
}
span{
    display: flex;
    margin: 5px;
}
i{
    color: #ffb600;
    position: relative;
    top: 18px;
    font-size: 10px;
}
.fas, .fa-info-circle{
    color: grey;
    position: relative;
    top: 2px;
}

ul{
    margin: 15px;
}
li{
    list-style-position: inside;
    list-style-type: none;
    font-size: 15px;
}
hr{

    margin: 5px;
    border: 0.5% solid grey;
    width: 98%;
}

img{
    float: left;
    margin: 10px;
    height: 250px;
}
.more{
    font-size:12px;
    color: blue;
    border-radius: 0px 0px 5px 5px;
    background-color: #f0efeb;
    height:20px;
}
.card-data{
    background-color: white;
    border-radius: 5px;
    width: 320px;
    margin: 10px;
    height: 540px;
    display: inline-block;
    border: 1px solid white;
}
.card-data:hover{
    transform: scale(1.002)
}
.inner-card{
    border-radius: 4px 4px 0px 0px;
    background-color: #343a40;
    margin: 0px;
    padding: 5px;
    height: 50px;
}
.manufucture{
    margin: 5px;
    text-align: left;
    color: white;
}
.product-name{
    margin: 5px;
    text-align: left;
    font-size: 15px;
    color: white;
}
button{
    background-color: #ffb600;
    padding: 10px;
    margin: 5px;
    color: white;
    border: white;
    border-radius: 5px;
}
button:hover{
    transform: scale(1.02)
}